.chess-node-board {
  border: 8px solid green;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.chess-node-position-info {
  background-color: green;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  padding-left: 6px;
  padding-right: 6px;
}

.chess-node-label {
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  color: #f8f8f2;
}

.chess-node-comments {
  color: #f8f8f2;
}
